<p> <%= I18n.t('mailer.reset_password_instructions.hello', email: @email)  %></p>

<p><%= I18n.t('mailer.reset_password_instructions.admin_restored', team_name: @team_name) %></p>

<p><%= I18n.t('mailer.reset_password_instructions.personal_vault_lost') %></p>

<p><%= I18n.t('mailer.reset_password_instructions.ignore_mail_msg') %></p>
